html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #232323;
  background: -moz-linear-gradient(45deg, #232323 0%, #111111 100%);
  background: -webkit-linear-gradient(45deg, #232323 0%,#111111 100%);
  background: linear-gradient(45deg, #232323 0%,#111111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232323', endColorstr='#111111', GradientType=1);
  font-family: 'Source Sans Pro', "Roboto", sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.card-link {
  color: #4a4a4a !important;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #FFFFFF;
  }
  100% {
    stroke: #FFFFFF;
  }
}

@keyframes colors {
  0% {
    stroke: #FFFFFF;
  }
  100% {
    stroke: #FFFFFF;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
